USE [master]
GO
/****** Object:  Database [LIANZE_DB]    Script Date: 30/7/2025 13:00:21 ******/
CREATE DATABASE [LIANZE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIANZE_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LIANZE_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIANZE_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LIANZE_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIANZE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIANZE_DB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NULL,
	[psychologistId] [int] NULL,
	[appointmentDate] [datetime2](7) NOT NULL,
	[duration] [int] NULL,
	[status] [nvarchar](20) NULL,
	[sessionType] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NULL,
	[meetingLink] [nvarchar](500) NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[actionType] [nvarchar](50) NOT NULL,
	[tableAffected] [nvarchar](50) NULL,
	[recordId] [int] NULL,
	[oldValues] [nvarchar](max) NULL,
	[newValues] [nvarchar](max) NULL,
	[ipAddress] [nvarchar](50) NULL,
	[userAgent] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[errorMessage] [nvarchar](max) NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [int] NULL,
	[receiverId] [int] NULL,
	[message] [nvarchar](max) NOT NULL,
	[messageType] [nvarchar](20) NULL,
	[isRead] [bit] NULL,
	[createdAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaryEntries]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaryEntries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[date] [date] NOT NULL,
	[mood] [int] NOT NULL,
	[emotions] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[activities] [nvarchar](max) NULL,
	[sleepHours] [decimal](3, 1) NULL,
	[stressLevel] [int] NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeographicLocations]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeographicLocations](
	[id] [nvarchar](20) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[parent_id] [nvarchar](20) NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginAudits]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAudits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[ipAddress] [nvarchar](50) NOT NULL,
	[userAgent] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[mfaUsed] [bit] NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MFABackupCodes]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MFABackupCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[isUsed] [bit] NULL,
	[createdAt] [datetime] NULL,
	[is_encrypted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PsychologistProfiles]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PsychologistProfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[licenseNumber] [nvarchar](50) NOT NULL,
	[specialties] [nvarchar](max) NULL,
	[experience] [int] NULL,
	[education] [nvarchar](max) NULL,
	[languages] [nvarchar](max) NULL,
	[hourlyRate] [decimal](10, 2) NULL,
	[bio] [nvarchar](max) NULL,
	[availability] [nvarchar](max) NULL,
	[rating] [decimal](3, 2) NULL,
	[totalReviews] [int] NULL,
	[isVerified] [bit] NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[licenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NULL,
	[psychologistId] [int] NULL,
	[appointmentId] [int] NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[createdAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityQuestions]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityQuestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[petName] [nvarchar](max) NOT NULL,
	[favoriteColor] [nvarchar](max) NOT NULL,
	[favoritePlace] [nvarchar](max) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinpeConfirmationCodes]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinpeConfirmationCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transactionId] [int] NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[expiryDate] [datetime2](7) NOT NULL,
	[attempts] [int] NOT NULL,
	[isUsed] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinpeMovilAssociations]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinpeMovilAssociations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[phoneNumber] [nvarchar](20) NOT NULL,
	[paymentMethodId] [int] NOT NULL,
	[isVerified] [bit] NOT NULL,
	[verificationCode] [nvarchar](6) NULL,
	[verificationExpiry] [datetime2](7) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[email] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[resolvedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[psychologistId] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](255) NULL,
	[cardLastFour] [nvarchar](4) NULL,
	[status] [nvarchar](20) NULL,
	[createdAt] [datetime] NULL,
	[transactionType] [nvarchar](20) NULL,
	[phoneNumber] [nvarchar](20) NULL,
	[sinpeReference] [nvarchar](50) NULL,
	[confirmationCode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPaymentMethods]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPaymentMethods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[cardNumber] [nvarchar](255) NOT NULL,
	[cardHolder] [nvarchar](255) NOT NULL,
	[expirationMonth] [int] NOT NULL,
	[expirationYear] [int] NOT NULL,
	[cvv] [nvarchar](255) NOT NULL,
	[balance] [decimal](10, 2) NOT NULL,
	[isDefault] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
	[is_encrypted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[userType] [nvarchar](20) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[dateOfBirth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[profileImage] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
	[createdAt] [datetime2](7) NULL,
	[updatedAt] [datetime2](7) NULL,
	[mfaEnabled] [bit] NULL,
	[mfaSecret] [nvarchar](255) NULL,
	[bio] [nvarchar](max) NULL,
	[is_encrypted] [bit] NULL,
	[country_id] [nvarchar](20) NULL,
	[province_id] [nvarchar](20) NULL,
	[canton_id] [nvarchar](20) NULL,
	[district_id] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_Date]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_Date] ON [dbo].[Appointments]
(
	[appointmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientId]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientId] ON [dbo].[Appointments]
(
	[patientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PsychologistId]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PsychologistId] ON [dbo].[Appointments]
(
	[psychologistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatMessages_Sender_Receiver]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessages_Sender_Receiver] ON [dbo].[ChatMessages]
(
	[senderId] ASC,
	[receiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaryEntries_UserId_Date]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_DiaryEntries_UserId_Date] ON [dbo].[DiaryEntries]
(
	[userId] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GeographicLocations_ParentId]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_GeographicLocations_ParentId] ON [dbo].[GeographicLocations]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SinpeMovilAssociations_PhoneNumber]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_SinpeMovilAssociations_PhoneNumber] ON [dbo].[SinpeMovilAssociations]
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SinpeMovilAssociations_User]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_SinpeMovilAssociations_User] ON [dbo].[SinpeMovilAssociations]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transactions_SinpeReference]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_SinpeReference] ON [dbo].[Transactions]
(
	[sinpeReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserType]    Script Date: 30/7/2025 13:00:21 ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserType] ON [dbo].[Users]
(
	[userType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((60)) FOR [duration]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('video') FOR [sessionType]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ('success') FOR [status]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ('text') FOR [messageType]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[DiaryEntries] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[DiaryEntries] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[GeographicLocations] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[GeographicLocations] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[LoginAudits] ADD  DEFAULT ('attempt') FOR [status]
GO
ALTER TABLE [dbo].[LoginAudits] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[MFABackupCodes] ADD  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[MFABackupCodes] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[MFABackupCodes] ADD  DEFAULT ((1)) FOR [is_encrypted]
GO
ALTER TABLE [dbo].[PsychologistProfiles] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[PsychologistProfiles] ADD  DEFAULT ((0)) FOR [totalReviews]
GO
ALTER TABLE [dbo].[PsychologistProfiles] ADD  DEFAULT ((0)) FOR [isVerified]
GO
ALTER TABLE [dbo].[PsychologistProfiles] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PsychologistProfiles] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SecurityQuestions] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SecurityQuestions] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[SinpeConfirmationCodes] ADD  DEFAULT ((0)) FOR [attempts]
GO
ALTER TABLE [dbo].[SinpeConfirmationCodes] ADD  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[SinpeConfirmationCodes] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SinpeMovilAssociations] ADD  DEFAULT ((0)) FOR [isVerified]
GO
ALTER TABLE [dbo].[SinpeMovilAssociations] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SinpeMovilAssociations] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('regular') FOR [transactionType]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[UserPaymentMethods] ADD  DEFAULT ((0)) FOR [is_encrypted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [mfaEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_encrypted]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([patientId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([psychologistId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([receiverId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([senderId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[DiaryEntries]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[MFABackupCodes]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[PsychologistProfiles]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([appointmentId])
REFERENCES [dbo].[Appointments] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([patientId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([psychologistId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SecurityQuestions]  WITH CHECK ADD  CONSTRAINT [FK_SecurityQuestions_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecurityQuestions] CHECK CONSTRAINT [FK_SecurityQuestions_Users]
GO
ALTER TABLE [dbo].[SinpeConfirmationCodes]  WITH CHECK ADD  CONSTRAINT [FK_SinpeConfirmationCodes_Transactions] FOREIGN KEY([transactionId])
REFERENCES [dbo].[Transactions] ([id])
GO
ALTER TABLE [dbo].[SinpeConfirmationCodes] CHECK CONSTRAINT [FK_SinpeConfirmationCodes_Transactions]
GO
ALTER TABLE [dbo].[SinpeMovilAssociations]  WITH CHECK ADD  CONSTRAINT [FK_SinpeMovilAssociations_PaymentMethods] FOREIGN KEY([paymentMethodId])
REFERENCES [dbo].[UserPaymentMethods] ([id])
GO
ALTER TABLE [dbo].[SinpeMovilAssociations] CHECK CONSTRAINT [FK_SinpeMovilAssociations_PaymentMethods]
GO
ALTER TABLE [dbo].[SinpeMovilAssociations]  WITH CHECK ADD  CONSTRAINT [FK_SinpeMovilAssociations_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[SinpeMovilAssociations] CHECK CONSTRAINT [FK_SinpeMovilAssociations_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([psychologistId])
REFERENCES [dbo].[PsychologistProfiles] ([id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserPaymentMethods]  WITH CHECK ADD  CONSTRAINT [FK_UserPaymentMethods_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserPaymentMethods] CHECK CONSTRAINT [FK_UserPaymentMethods_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Canton] FOREIGN KEY([canton_id])
REFERENCES [dbo].[GeographicLocations] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Canton]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Country] FOREIGN KEY([country_id])
REFERENCES [dbo].[GeographicLocations] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Country]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_District] FOREIGN KEY([district_id])
REFERENCES [dbo].[GeographicLocations] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_District]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Province] FOREIGN KEY([province_id])
REFERENCES [dbo].[GeographicLocations] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Province]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([sessionType]='chat' OR [sessionType]='audio' OR [sessionType]='video'))
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([status]='no-show' OR [status]='cancelled' OR [status]='completed' OR [status]='scheduled'))
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD CHECK  (([messageType]='file' OR [messageType]='image' OR [messageType]='text'))
GO
ALTER TABLE [dbo].[DiaryEntries]  WITH CHECK ADD CHECK  (([stressLevel]>=(1) AND [stressLevel]<=(10)))
GO
ALTER TABLE [dbo].[DiaryEntries]  WITH CHECK ADD CHECK  (([mood]>=(1) AND [mood]<=(10)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([transactionType]='regular' OR [transactionType]='sinpe_movil' OR [transactionType]='sinpe_transfer'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([userType]='psychologist' OR [userType]='patient'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AssociatePhoneToCard]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para asociar un número de teléfono a una tarjeta
CREATE PROCEDURE [dbo].[sp_AssociatePhoneToCard]
    @userId INT,
    @phoneNumber NVARCHAR(20),
    @paymentMethodId INT,
    @verificationCode NVARCHAR(6) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verificar que el usuario existe y la tarjeta le pertenece
    IF NOT EXISTS (SELECT 1 FROM Users WHERE id = @userId)
    BEGIN
        RAISERROR('Usuario no encontrado', 16, 1);
        RETURN;
    END
    
    IF NOT EXISTS (SELECT 1 FROM UserPaymentMethods WHERE id = @paymentMethodId AND userId = @userId)
    BEGIN
        RAISERROR('Método de pago no válido o no pertenece al usuario', 16, 1);
        RETURN;
    END
    
    -- Verificar si el número ya está asociado a otra cuenta
    IF EXISTS (SELECT 1 FROM SinpeMovilAssociations WHERE phoneNumber = @phoneNumber AND isVerified = 1)
    BEGIN
        RAISERROR('Este número de teléfono ya está asociado a otra cuenta', 16, 1);
        RETURN;
    END
    
    -- Generar código de verificación (6 dígitos)
    SET @verificationCode = RIGHT('000000' + CAST(CAST(RAND() * 999999 AS INT) AS VARCHAR(6)), 6);
    
    -- Insertar o actualizar la asociación
    IF EXISTS (SELECT 1 FROM SinpeMovilAssociations WHERE userId = @userId AND phoneNumber = @phoneNumber)
    BEGIN
        UPDATE SinpeMovilAssociations
        SET paymentMethodId = @paymentMethodId,
            isVerified = 0,
            verificationCode = @verificationCode,
            verificationExpiry = DATEADD(MINUTE, 15, GETDATE()),
            updatedAt = GETDATE()
        WHERE userId = @userId AND phoneNumber = @phoneNumber;
    END
    ELSE
    BEGIN
        INSERT INTO SinpeMovilAssociations (userId, phoneNumber, paymentMethodId, verificationCode, verificationExpiry)
        VALUES (@userId, @phoneNumber, @paymentMethodId, @verificationCode, DATEADD(MINUTE, 15, GETDATE()));
    END
    
    -- Enviar el código de verificación al teléfono (esto sería implementado en la capa de aplicación)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConfirmSinpePayment]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ConfirmSinpePayment]
    @transactionId INT,
    @confirmationCode NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Verificar la transacción
        DECLARE @status NVARCHAR(20);
        DECLARE @amount DECIMAL(10, 2);
        DECLARE @senderUserId INT;
        DECLARE @senderPaymentMethodId INT;
        DECLARE @receiverUserId INT;
        DECLARE @receiverPaymentMethodId INT;
        DECLARE @receiverPhoneNumber NVARCHAR(20); -- Variable faltante declarada aquí
        
        SELECT 
            @status = t.status,
            @amount = t.amount,
            @senderUserId = t.userId,
            @receiverUserId = t.psychologistId, -- Usamos psychologistId como receptor
            @receiverPhoneNumber = t.phoneNumber -- Obtenemos el número de teléfono del receptor
        FROM Transactions t
        WHERE t.id = @transactionId AND t.transactionType = 'sinpe_movil';
        
        IF @status IS NULL
        BEGIN
            RAISERROR('Transacción no encontrada', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        IF @status <> 'pending'
        BEGIN
            RAISERROR('La transacción ya ha sido procesada', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Obtener los métodos de pago
        SELECT @senderPaymentMethodId = paymentMethodId 
        FROM SinpeMovilAssociations 
        WHERE userId = @senderUserId AND isVerified = 1;
        
        SELECT @receiverPaymentMethodId = paymentMethodId 
        FROM SinpeMovilAssociations 
        WHERE userId = @receiverUserId AND isVerified = 1;
        
        -- Verificar el código de confirmación
        DECLARE @codeValid BIT = 0;
        
        SELECT @codeValid = 1
        FROM SinpeConfirmationCodes
        WHERE transactionId = @transactionId 
          AND code = @confirmationCode
          AND expiryDate >= GETDATE()
          AND isUsed = 0;
        
        IF @codeValid = 0
        BEGIN
            -- Registrar intento fallido
            UPDATE SinpeConfirmationCodes
            SET attempts = attempts + 1
            WHERE transactionId = @transactionId;
            
            RAISERROR('Código de confirmación inválido o expirado', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Verificar saldo nuevamente (por si cambió)
        DECLARE @senderBalance DECIMAL(10, 2);
        SELECT @senderBalance = balance FROM UserPaymentMethods WHERE id = @senderPaymentMethodId;
        
        IF @senderBalance < @amount
        BEGIN
            RAISERROR('Saldo insuficiente para completar la transacción', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Realizar las transferencias
        -- 1. Descontar del remitente
        UPDATE UserPaymentMethods
        SET balance = balance - @amount,
            updatedAt = GETDATE()
        WHERE id = @senderPaymentMethodId;
        
        -- 2. Acreditar al destinatario
        UPDATE UserPaymentMethods
        SET balance = balance + @amount,
            updatedAt = GETDATE()
        WHERE id = @receiverPaymentMethodId;
        
        -- 3. Actualizar estado de la transacción
        UPDATE Transactions
        SET status = 'completed',
            createdAt = GETDATE() -- Actualizamos la fecha para reflejar cuando se completó
        WHERE id = @transactionId;
        
        -- 4. Marcar código como usado
        UPDATE SinpeConfirmationCodes
        SET isUsed = 1
        WHERE transactionId = @transactionId;
        
        -- Registrar en el log de auditoría
        INSERT INTO AuditLogs (
            userId,
            actionType,
            tableAffected,
            recordId,
            newValues,
            status,
            createdAt
        )
        VALUES (
            @senderUserId,
            'sinpe_payment',
            'Transactions',
            @transactionId,
            JSON_MODIFY(JSON_MODIFY('{}', '$.amount', @amount), '$.receiver', @receiverPhoneNumber),
            'success',
            GETDATE()
        );
        
        COMMIT;
        
        SELECT 'Transacción completada exitosamente' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MakeSinpePayment]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para realizar un pago con SINPE Móvil
CREATE PROCEDURE [dbo].[sp_MakeSinpePayment]
    @senderUserId INT,
    @receiverPhoneNumber NVARCHAR(20),
    @amount DECIMAL(10, 2),
    @description NVARCHAR(255) = NULL,
    @transactionId INT OUTPUT,
    @confirmationCode NVARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Verificar que el remitente tiene una tarjeta asociada y verificada
        DECLARE @senderPaymentMethodId INT;
        DECLARE @senderCardLastFour NVARCHAR(4);
        
        SELECT 
            @senderPaymentMethodId = sm.paymentMethodId,
            @senderCardLastFour = RIGHT(upm.cardNumber, 4)
        FROM SinpeMovilAssociations sm
        JOIN UserPaymentMethods upm ON sm.paymentMethodId = upm.id
        WHERE sm.userId = @senderUserId AND sm.isVerified = 1;
        
        IF @senderPaymentMethodId IS NULL
        BEGIN
            RAISERROR('El remitente no tiene un método de pago asociado y verificado', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Verificar saldo suficiente
        DECLARE @currentBalance DECIMAL(10, 2);
        SELECT @currentBalance = balance FROM UserPaymentMethods WHERE id = @senderPaymentMethodId;
        
        IF @currentBalance < @amount
        BEGIN
            RAISERROR('Saldo insuficiente para realizar la transacción', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Verificar que el destinatario existe
        DECLARE @receiverUserId INT;
        DECLARE @receiverPaymentMethodId INT;
        
        SELECT 
            @receiverUserId = sm.userId,
            @receiverPaymentMethodId = sm.paymentMethodId
        FROM SinpeMovilAssociations sm
        WHERE sm.phoneNumber = @receiverPhoneNumber AND sm.isVerified = 1;
        
        IF @receiverUserId IS NULL
        BEGIN
            RAISERROR('El número de teléfono del destinatario no está registrado en SINPE Móvil', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Generar referencia SINPE (simulada)
        DECLARE @sinpeReference NVARCHAR(50) = 'SINPE-' + FORMAT(GETDATE(), 'yyyyMMddHHmmss') + '-' + CAST(@senderUserId AS NVARCHAR(10));
        
        -- Generar código de confirmación (4 dígitos)
        SET @confirmationCode = RIGHT('0000' + CAST(CAST(RAND() * 9999 AS INT) AS VARCHAR(4)), 4);
        
        -- Registrar la transacción
        INSERT INTO Transactions (
            userId, 
            psychologistId, -- En este caso, lo usaremos para el receptor
            amount, 
            description, 
            cardLastFour, 
            status, 
            transactionType,
            phoneNumber,
            sinpeReference,
            confirmationCode
        )
        VALUES (
            @senderUserId,
            @receiverUserId, -- Usamos psychologistId para almacenar el receptor
            @amount,
            @description,
            @senderCardLastFour,
            'pending', -- Pendiente hasta confirmación
            'sinpe_movil',
            @receiverPhoneNumber,
            @sinpeReference,
            @confirmationCode
        );
        
        SET @transactionId = SCOPE_IDENTITY();
        
        -- Registrar el código de confirmación
        INSERT INTO SinpeConfirmationCodes (
            transactionId,
            code,
            expiryDate
        )
        VALUES (
            @transactionId,
            @confirmationCode,
            DATEADD(MINUTE, 10, GETDATE()) -- Código válido por 10 minutos
        );
        
        -- Enviar código de confirmación al remitente (esto se haría en la capa de aplicación)
        
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerifyPhoneAssociation]    Script Date: 30/7/2025 13:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para verificar un número de teléfono
CREATE PROCEDURE [dbo].[sp_VerifyPhoneAssociation]
    @userId INT,
    @phoneNumber NVARCHAR(20),
    @verificationCode NVARCHAR(6)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @storedCode NVARCHAR(6);
    DECLARE @expiry DATETIME2(7);
    
    SELECT @storedCode = verificationCode, @expiry = verificationExpiry
    FROM SinpeMovilAssociations
    WHERE userId = @userId AND phoneNumber = @phoneNumber;
    
    IF @storedCode IS NULL
    BEGIN
        RAISERROR('No se encontró solicitud de asociación para este número', 16, 1);
        RETURN;
    END
    
    IF @expiry < GETDATE()
    BEGIN
        RAISERROR('El código de verificación ha expirado', 16, 1);
        RETURN;
    END
    
    IF @storedCode <> @verificationCode
    BEGIN
        RAISERROR('Código de verificación incorrecto', 16, 1);
        RETURN;
    END
    
    -- Verificación exitosa
    UPDATE SinpeMovilAssociations
    SET isVerified = 1,
        verificationCode = NULL,
        verificationExpiry = NULL,
        updatedAt = GETDATE()
    WHERE userId = @userId AND phoneNumber = @phoneNumber;
    
    SELECT 'Número de teléfono verificado exitosamente' AS Message;
END
GO
USE [master]
GO
